.git
.github
.gitignore
.venv
venv
env
bin
lib
lib64
include
pyvenv.cfg
__pycache__
*.py[cod]
*.egg-info
build/
dist/
.pytest_cache
.vscode
.idea
.pre-commit-config.yaml
tests
Dockerfile
.dockerignore
