.git
.github
.gitignore
.pytest_cache
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.egg-info
build/
dist/
am-venv/
.venv/
venv/
env/
_work/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.pre-commit-config.yaml
tests/
